.DS_Store

build/**

Repetier-Server.xcodeproj

Repetier-Server.xcodeproj/*

Repetier-Server.xcodeproj/xcuserdata/littwin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcuserstate

Repetier-Server.xcodeproj/project.xcworkspace/xcuserdata/littwin.xcuserdatad/UserInterfaceState.xcuserstate

.idea/Repetier-Server.iml

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/webResources.xml

.idea/scopes/scope_settings.xml
